// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$hover-color: rgb(32, 47, 68);
$hover-color2: rgb(84, 97, 117);
$hover-color3: #0045FF;
$background : #D3E2FA;
$color1: #385A94;
