.section-competences {
  position: relative;
  @include glassmorphism;
  width: 1200px;
  padding: 30px;
  margin: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  // CONTAINER WITH LOGOS

  .section-competences__logos {
    fill: var(--fill);
    width: 90px;
    margin: 0;
    padding: 0;
  }
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

// MOVING IMAGES

.imgDoodle3 {
  transform: rotate(160deg);
}

.imgDoodle4 {
  transform: rotate(-20deg);
}

.imgDoodle3 img {
  position: absolute;
  top: -200px;
  left: -80px;
  overflow: hidden;
  max-width: 250px;
  animation: anim3 20s ease-in-out infinite;
  }

.imgDoodle4 img {
  position: absolute;
  top: 270px;
  right: -1250px;
  overflow: hidden;
  max-width: 150px;
  animation: anim2 20s ease-in-out infinite;
  }

@keyframes anim3 {
    0%, 100%
    {
      transform: translateY(50px);
    }
    50%
    {
      transform: translateY(70px);
    }
  }
