<div class="content">
  <h2>Bienvenue</h2>
  <p>Je suis un développeur web full stack utilisant ruby on rails, react, html et css. N'hésitez pas à jeter un œil à mes derniers projets dans la section portfolio.</p>

  <%= link_to "Portfolio", pages_portfolio_path %>
</div>


<div class="imgBx">
  <%= image_tag ("Saly-38.png") %>
</div>
