<div class="container-profil">
  <div class="container-profil__text">
    <h1>Hello 👋</h1>
    <h2>Je m'appelle Kevin Kotcherga</h2>
    <p>Je suis un développeur full stack ruby on rails & react/vue.js passionné.</p>
    <p>Je travaille avec les langages :</p>
      <ul>
        <li>Ruby & Ruby on Rails.</li>
        <li>React, Vue.js & Stimulus.</li>
        <li>CSS, Bootstrap, Ant Design & Figma pour le design.</li>
      </ul>
    <p>Je lis actuellement le livre: "Ruby on Rails Tutorial by Michael Hartl" pour améliorer mes skills en ruby.</p>
    <p>Je réalise un maximum de projets différents pour m'améliorer.</p>
  </div>
</div>

  <!-- MOVING IMAGE-->

  <div class="imgDoodle">
    <%= image_tag ("object.png") %>
  </div>

  <div class="imgDoodle2">
    <%= image_tag ("object2.png") %>
  </div>

</div>
