<div class="container-profil">
  <div class="container-profil__text">
    <h1>Hello je m'appelle Kevin 👋</h1>
    <p>Je suis un développeur full stack ruby on rails & react passionné.</p>
    <p>Je travaille avec les langages :</p>
      <ul>
        <li>Ruby et Ruby on Rails.</li>
        <li>React & Stimulus.</li>
        <li>CSS, Bootstrap, Ant Design et Figma pour le design.</li>
      </ul>
    <p>Je lis actuellement le livre: "Ruby on Rails Tutorial by Michael Hartl" pour améliorer mes skills en ruby.</p>
    <p>Je travaille à la réalisation d'un clone twitter avec ruby on rails.</p>
    <p>Je réalise un maximum de projets différents (visible sur mon portfolio) pour m'améliorer en rails.</p>
  </div>
</div>

  <!-- MOVING IMAGE-->

  <div class="imgDoodle">
    <%= image_tag ("object.png") %>
  </div>

  <div class="imgDoodle2">
    <%= image_tag ("object2.png") %>
  </div>

</div>
